
	*{
		margin: 0px;
		padding:0px;
	}
	#Frame{
		width: 1000px;
		height: 600px;
		margin: 0 auto;
		margin-top: 30px;		
		/*背景色渐变----兼容当前驻留浏览器，以及IE8，不兼容IE9*/
		background:-webkit-linear-gradient(to top left,#F11D5F , #813774);
        background:linear-gradient(to top left,#F11D5F , #813774);
        background:-moz-linear-gradient(to top left,#F11D5F,#813774);
        filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#813774,endcolorstr=#F11D5F,gradientType=0);
	}
	/*各项目标题*/
	.title{
		width: 800px;
		height: 80px;
		position: relative;
		top: 40px;
		margin: 0 auto;
	}
	#project-item{
		list-style: none;
		margin: 0 auto;
	}
	#project-item a{
		 color: white;
		 text-decoration: none;
	}
	.item1{
       float: left;
       width: 140px;
       height: 60px;
       margin-top: 10px;
       line-height: 60px;
       font-size: 26px;
       text-align: center;
       margin-left: 18px;
       overflow: hidden;
	}
	.item1:hover{
		background: white;
	}
	/*各项目具体内容*/
	#content{
		margin-top: 100px;
		width: 800px;
		position: relative;
		height: 400px;
		top: 30px;
		background: white;
		margin: 0 auto;
	}
	/*项目内容列表*/
	.tap-list{
	/*	background: lightgreen;*/
		width: 450px;
		height: 400px;
		padding-left: 30px;
		margin-top: 10px;
        float: left;
        color: #AA2E6C;
        overflow: hidden;
	}
	.list{
       padding-top: 15px;
       width: 450px;
       font-family: "微软雅黑";
       overflow: hidden;
	}
	.list span{
		float: right;
		padding-right: 12px;
		font-size: 12px;

		color: #AA2E6C;
	}
	.list a{
		text-decoration: none;
		color: #AA2E6C	
	}
	.list a:hover{
		text-decoration: underline;
	}
	/*更多效果*/
	.more{
		font-size: 16px;
	}
	.more:hover{
		background: transparent;
	}
	.more a:hover{
		color: white;
		font-size: 16px;
		cursor: pointer;
		font-weight:;
	}
	#project-item span{
    	position: relative;
    	top: 35px;
    	right: -40px;
    }
	/*右边图片*/
    img{
		width: 280px;
		height: 350px;
		float: right;
		padding-right: 25px;
		padding-top:25px;
		/*display: table-cell;*/
		vertical-align: middle;
	}
	.hidden{ display:none;}
    .active{
    	   background: white;
	    	font-weight: bold;
			font-size: 28px;
			color:#AA2E6C;
            }
    
