*{margin 0;padding: 0;}
body{
	height: 800px;
	width: 100%;
}
.left{
	width: 300px;
	height:800px;
	background: #24241F;
	float: left;
	position: relative;
	display: inline-block;
}
.left .logo{
	display: inline-block;
	width: 300px;
	height:100px; 
	background:url(../../images/logo.gif) no-repeat  center;
    transition:ease-out 0.2s;
    -webkit-transition:ease-out 0.2s;
    -moz-transition:ease-out 0.2s;
    -o-transition:ease-out 0.2s;
    transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -o-transform:scale(1,1);
}
.left .logo:hover{
	transform:scale(1.2,1.2);
    -webkit-transform:scale(1.2,1.2);
    -moz-transform:scale(1.2,1.2);
    -o-transform:scale(1.2,1.2);
}
.conList{
  margin-top: 80px;
  font-size: 26px;
  font-family: Arial;
 }
.conList .conListUl li{
height: 50px;
line-height: 50px;
padding-left: 115px;
}
/*.conList .conListUl li:hover span{
	border-bottom: 1px solid #fff;	
}*/
.conList .conListUl li:hover{
	background: black;
}
.conList .conListUl a{
	 color: #fff;
  text-decoration: none;
}
.right{
	position: absolute;
	display: inline-block;
	background: #5F5F58;
	height: 800px;
    width: 80%;
	margin: 0 auto;
	overflow-y: scroll;

}
.listDiv{
	width:86%;
	margin-left: 7%;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: "微软雅黑";
	font-weight: bold;
	color: #fff;
	
}
.Tags{
	font-size: 40px;
	border-bottom: 1px solid #CBCBCB;
}
.suanfaDiv p,.gitDiv p,.animateDiv p,.yuanxingDiv p,.bootstrapDiv p{
	font-size: 30px;
	border-bottom: 1px solid #CBCBCB;
}
.listDiv ul li span{
	padding-right: 40px;
	font-family: Arial;
	font-weight: normal;
}
.listDiv ul li a{
	color: #fff;
	text-decoration: none;
}
.listDiv ul li a:hover{
	color: #eee;
}
.left .iconDiv{
	margin-left: 43px;
	/*background: red;*/
	margin-top:60px; 
	width: 300px;
	height: 30px;
}
.left .iconDiv li{
	float: left;
	list-style: none;
	padding: 10px 10px;
	transition:ease-out 0.2s;
	       -webkit-transition:ease-out 0.2s;
	       -moz-transition:ease-out 0.2s;
	       -o-transition:ease-out 0.2s;
	       transform:scale(1,1);
	       -webkit-transform:scale(1,1);
	       -moz-transform:scale(1,1);
	       -o-transform:scale(1,1);
}
.left .QQ{
	background:url(../../images/QQ.png) no-repeat ;width: 25px;height: 25px;}
.left .weibo{
	background:url(../../images/weibo.png) no-repeat ;width: 25px;height: 25px;}
.left .github{
	background:url(../../images/github.png) no-repeat ;width: 25px;height: 25px;}
.left .message{
	background:url(../../images/message.png) no-repeat ;width: 25px;height: 25px;}
.left .add{
	background:url(../../images/add.png) no-repeat ;width: 25px;height: 25px;}
.left .iconDiv li:hover{
	cursor: pointer;
	transform:scale(1.2,1.2);
                  -webkit-transform:scale(1.2,1.2);
                  -moz-transform:scale(1.2,1.2);
                  -o-transform:scale(1.2,1.2);
}